.by-line
  text-align center
  font-size 14px
  a
    color white
    font-family 'Atlas Grotesk Web'
    border-bottom 1px solid white

    &:visited
      color white
      border-bottom 1px solid white



.iframe-wrapper
  background #022b3a
  position relative
  z-index 1000000000000000
  padding-top 1rem
  padding-bottom 1rem
  margin-bottom 100px
  .second-iframe
    width 90%
    max-width 1000px
    margin 0 auto
    height 70vh
    max-height 600px
    iframe
      margin 0 auto
      display block

h1
  font-family 'Atlas Grotesk Web'
  font-size calc(4vw + 1vh + .5vmin)
  text-align center
  margin 0 auto
  margin-bottom 100px
  margin-top 100px
  width 95%
  font-weight 100


.year-text
  font-family 'Atlas Grotesk Web'
  font-size 64px
  fill white
  z-index 1000000
  opacity .4
  font-weight 900
  alignment-baseline central
  dominant-baseline central

.hide-ratio
  .regression
    display none
.no-ui
  .blob
    display none
  .no-ui-element
    display none
  .stat-chooser
    display none
  #rescale-x
    display none
body
  background #022A3A
  color white
  font-family 'Atlas Grotesk Web'
  //cursor url('assets/images/rect.png'), auto
  header
    background none
    svg
      fill white

  .grid
    background-image url('assets/images/grid.png')
    content ''
    position absolute
    top 0px
    left 0px
    background-repeat repeat
    width 100%
    height 100%
    filter blur(.15px)
    background-blend-mode luminosity
    opacity .4
    background-size 15px
    pointer-events none
    z-index 100000000

.blob
  width 50px
  height 50px
  left -25px
  top -25px
  position absolute
  z-index 10000000000
  mix-blend-mode difference
  pointer-events none
  .blob-element
    background #cee6bf
    border-radius 50%
    width 100%
    height 100%
    pointer-events none
    //display none
    animation-name bounce
    animation-iteration-count infinite
    animation-delay 0
    animation-duration .4s
    time-function linear
    animation-direction alternate


@-webkit-keyframes bounce {
  0% { transform: scaleX(.96) scaleY(1.02); }
  10% { transform: scaleX(1.03) scaleY(.95); }
  50% { transform: scaleX(.98) scaleY(1.06); }
  88% { transform: scaleX(1.02) scaleY(.98); }
  100% { transform: scaleX(.97) scaleY(1.02); }
}

.player-line
  pointer-events none
  .hover-line
    fill none
    stroke white
    stroke-width 3px
  text
    font-size 18px
    text-anchor middle
    pointer-events none
    fill white
  .player-track-bg
    stroke #022A3A
    stroke-width 5px
  circle
    fill white
    stroke #022A3A

.bottom-elements
  display flex
  justify-content center
  flex-wrap wrap
  width 95%
  margin 0 auto
  margin-top 70px
.year-slider-wrapper
  display flex
  max-width 600px
  margin 0
  margin-right 30px
  margin-bottom 30px
  #year-slider
    display block
    width 200px
    margin-right 40px
  .year-slider-value
    font-size 16px
    margin 0
    font-family 'Atlas Grotesk Web'
    margin-top -3px

.graphic-wrapper
  position relative
  margin 0 auto
  width 100%
  margin-bottom 30px
  .left-axis,.bottom-axis
    pointer-events none
    margin 0 auto
    display block
    position absolute
    top 0px
    left 0px
    right 0px
  .bottom-axis
    &:before
      content 'SALARY'
      text-transform uppercase
      font-size 16px
      position absolute
      bottom 39px
      right 0px
      letter-spacing 2px
      text-shadow 0px 0px 2px #022a3a, 1px 1px 2px #022a3a, -1px -1px 2px #022a3a, 1px 0px 2px #022a3a, 0px 1px 2px #022a3a, -1px 0px 2px #022a3a, 0px -1px 2px #022a3a, -1px 1px 2px #022a3a, 1px -1px 2px #022a3a
      font-family 'Atlas Grotesk Web'
    &:after
      content 'inflation adjusted'
      font-size 14px
      position absolute
      bottom 21px
      right -20px
      text-shadow 0px 0px 2px #022a3a, 1px 1px 2px #022a3a, -1px -1px 2px #022a3a, 1px 0px 2px #022a3a, 0px 1px 2px #022a3a, -1px 0px 2px #022a3a, 0px -1px 2px #022a3a, -1px 1px 2px #022a3a, 1px -1px 2px #022a3a
      font-family 'Atlas Grotesk Web'
      color rgba(255,255,255,.58)
      margin-left 5px
      margin-top 2px
  .left-axis
    &:before
      content 'Production'
      text-transform uppercase
      font-size 16px
      letter-spacing 2px
      text-shadow 0px 0px 2px #022a3a, 1px 1px 2px #022a3a, -1px -1px 2px #022a3a, 1px 0px 2px #022a3a, 0px 1px 2px #022a3a, -1px 0px 2px #022a3a, 0px -1px 2px #022a3a, -1px 1px 2px #022a3a, 1px -1px 2px #022a3a
      font-family 'Atlas Grotesk Web'
    &:after
      content 'VORP'
      text-transform uppercase
      font-size 16px
      letter-spacing 2px
      text-shadow 0px 0px 2px #022a3a, 1px 1px 2px #022a3a, -1px -1px 2px #022a3a, 1px 0px 2px #022a3a, 0px 1px 2px #022a3a, -1px 0px 2px #022a3a, 0px -1px 2px #022a3a, -1px 1px 2px #022a3a, 1px -1px 2px #022a3a
      font-family 'Atlas Grotesk Web'
      color rgba(255,255,255,.58)
      margin-left 5px
      margin-top 2px


  svg
    margin 0 auto
    display block
    overflow visible



#content
  height 100%
  padding-top 2rem
  position relative

.swiper-container
  height 100%

.swiper-slide
  background none
  display flex
  flex-direction column
  justify-content flex-end
  p
    max-width 500px
    margin 0 auto

svg text
  font-size 14px
  fill #333
  letter-spacing -1px
  font-weight 500
  user-select none

.regression
  stroke #ccc
  stroke-dasharray 12px 12px
  stroke-width 2px
  opacity 0.5

.player circle
  fill #aaa
  opacity 1
  //stroke #888
  //stroke-opacity 0.5

.axis--x
  .tick
    &:nth-child(2)
      display none
    &:nth-child(7)
      display none

.axis--y
  .tick
    &:nth-child(3)
      display none
    &:nth-child(2)
      display none
.axis
  .tick
    text
      font-family 'Atlas Grotesk Web'
      font-weight 500
      font-size 15px
  .domain
    display none

.g-axis
  .axis-line
    stroke-width 5px
  text
    fill white

.axis
  line
    stroke #ddd
    stroke-dasharray 2px 2px
    stroke-opacity 1
    display none

.g-vor
  path
    stroke rgba(255,255,255,.5)

.g-vor
  .fg
    fill white
  .bg
    fill #022A3A
    stroke-width 3px
    stroke #022A3A
    //display none
