<div class="grid">

</div>

<!-- <div class="swiper-container">
	<div class="swiper-wrapper">
		{{#each prose.slides}}
			<div class="swiper-slide" data-year='{{{year}}}'>
				<div class="">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

			</div>
		{{/each}}
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div> -->
<div class="graphic-wrapper">
</div>
<div class="year-slider-wrapper">
  <div id="year-slider">
  </div>
  <p class="year-slider-value">
  </p>
</div>

<form class="stat-chooser">
  <input  type='radio' value="VORP" name="mode" checked>VORP</input>
  <input type='radio' value="WS" name="mode">WS</input>
	<input type='radio' value="PER" name="mode">PER</input>
  <input type='radio' value="WS/48" name="mode">WS/48</input>
  <input type='radio' value="BPM" name="mode">BPM</input>
</form>
<div class="all-chooser">
  <input type="checkbox" id="all-players"> All Players
</div>
<div class="all-chooser">
  <input type="checkbox" id="rescale-x"> rescale x-axis
</div>
<div class="all-chooser">
  <input type="checkbox" id="limit-players"> limit players
</div>
<div class="player-chooser">
  <select class="player-chooser-select" name="">
  </select>
</div>
